.main__block {
  @include flex(center);
  align-items: center;
}

.secondary__block {
  @include flex(space-between);
  align-items: flex-start;
  background: $color-black;
  color: $color-light;
  margin-bottom: .5rem;
  box-shadow: $box-shadow;

  & > * {
    flex-basis: 45%;
    padding: 1rem;
    box-sizing: border-box;

    @include respond(tab-port) {
      flex-basis: 100%;
    }
  }
}

.grammar__block,
.dictionary,
.blog-edit__block {
  @include flexCol;
  padding-bottom: 5.5rem;
  & > * {
    width: 60vw;

    @include respond(tab-port) {
      width: 90vw;
    }
  }
}