.blog-card__btn {
  border: none;
  background: transparent;
  color: $color-light;
  margin-left: .5rem;
  transition: all .5s;
}

.edit:hover {
  transform: rotate(-20deg);
}

.remove:hover {
  transform: rotate(90deg);
}

.blog__btn {
  @include button(transparent, 1px solid $color-light, .3rem);
  margin: 1rem 0 0;
  width: 100%;
}

.filter__btn {
  @include button($color-black, none, 0);
  text-align: center;
}

.dictionary__btn {
  @include button($color-black, none, .3rem);
  margin-top: .5rem;
  box-shadow: $box-shadow;
}

.active {
  @include button($color-teal, none, 0);
}

.select {
  display: block;
  @include button($color-teal, 1px solid $color-teal, .3rem);
  box-shadow: $box-shadow;
  margin-bottom: .5rem;

  &:focus, &:active {
    outline: none;
  }
}