.blog-card {
  @include card($color-teal, $color-light, .5rem 0);
  @include flex(space-between);
  align-items: center;
  overflow: hidden;

  @include respond(tab-port) {
    :nth-child(2) span {
      display: none;
    }
  }

  &__title {
    color: inherit;
    font-size: 1.8rem;
  }

  &__topic {
    min-width: 3rem;
    border-right: 1px solid $color-light;
    padding-right: .5rem;
    margin-right: .5rem;
    text-align: center;

    & > * {
      color: $color-black;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.gram-card {
  @include card($color-teal, $color-light, .5rem);
  @include flex(space-between);
  border: none;
  min-height: 10rem;
  flex-basis: 20%;
  position: relative;

  @include respond(tab-land) {
    flex-basis: 45%;
  }

  @include respond(phone) {
    flex-basis: 90%;
  }

  &__text {
    flex: 1;
  }

  &__link {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    display: inline-block;
    text-decoration: none;
    @include button($color-black, none, .3rem);
    box-shadow: $box-shadow;
  }

  &__complexity {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  &__text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 1.4rem;
    background: $color-black;
    color: $color-light;
    border-radius: 3px;
    padding: .4rem;
  }

  &:hover .tooltip__text {
    visibility: visible;
  }
}
