.footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  color: $color-light;
  background-color: rgba($color-black, .6);
  height: 5rem;
  width: 100vw;
  @include flex(center);
  align-items: center;
  & > * {
    transition: all .5s;
    &:hover {
      color: $color-teal;
      cursor: pointer;
    }
    margin: 0 1rem;
  }
}