.header {
  @include header(transparent, none);

  &__link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    padding-left: 1rem;

    &--active {
      text-decoration: underline;
      padding-left: 1rem;
      color: black;
    }
  }

  &__logo {
    font-size: 2rem;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 700;
    color: inherit;
    line-height: 1;
    text-decoration: none;
  }

  &__nav {
    @include respond(phone) {
      display: none;
    }
  }
}

@media screen and (min-width: 601px) {
  .header__toggler, .dashboard__sidebar,
  .sidebar, .header__toggler > svg {
    display: none !important;
  }
}

.header-secondary {
  @include header($color-teal, $box-shadow);
  z-index: 10;
}

.sidebar {
  position: fixed;
  @include flexCol;
  justify-content: center;
  left: 0;
  top: 0;
  background-color: rgba($color-teal, .8);
  width: 60%;
  z-index: 10000;
  height: 100vh;
  margin: 0;

  &__link {
    @include text($color-light);
    text-decoration: none;
    margin: .5rem 0;
    padding: 0;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}