.input {
  min-width: 20rem;
  padding: .3rem .8rem;
  margin-bottom: .5rem;
  border: none;
  resize: none;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  border-radius: .3rem;
  box-shadow: $box-shadow;

  &:focus {
    outline: none;
  }
}


.label {
  margin: 0;
  font-weight: 400;
}