.modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  @include flex(center);
  color: $color-light;
  background-color: rgba(0, 0, 0, .9);
  z-index: 100;

  &__window {
    width: 50vw;
    height: 50vh;
    background-color: $color-light;
  }

  &__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    color: $color-light;
  }
}