@mixin respond($breakpoint) {
  @if $breakpoint == bpsmallest {
    @media (max-width: 22.5em) {@content};
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {@content};
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {@content};
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {@content};
  }
  @if $breakpoint == desktop {
    @media (min-width: 75em) {@content};
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 100em) {@content};
  }
}

@mixin button($bg-color, $border, $b-radius) {
  background: $bg-color;
  border: $border;
  border-radius: $b-radius;
  padding: .5rem .8rem;
  text-decoration: none;
  color: $color-light;
  transition: all .5s ease-in-out;

  &:hover {
    border-color: $color-teal;
    background: $color-teal;
  }
}

@mixin card($bg-color, $color, $margin) {
  background: $bg-color;
  color: $color;
  margin: $margin;
  padding: 1rem;
  box-shadow: $box-shadow;
  transition: all .5s;
}

@mixin flex($j-content) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $j-content;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin header($background, $b-shadow) {
  background-color: $background;
  box-shadow: $b-shadow;
  @include flex(space-around);
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  font-size: inherit;
  color: $color-light;
  background-position: 0;
  position: fixed;

  & + * {
    padding-top: 5rem;
  }

  & > * {
    margin: 0 2rem;

    @include respond(tab-port) {
      margin: 0;
    }
  }
}


@mixin hr($bg-image) {
  background-image: $bg-image;
  padding: .4rem;
  margin: .5rem 0;
  border: 0;
}

@mixin text($color) {
  color: $color;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}


@mixin formBlock($padding, $margin) {
  @include flexCol;
  box-shadow: $box-shadow;
  background-color: $color-darklight;
  padding: $padding;
  margin: $margin;

  & > * {
    width: 50%;

    @include respond(phone) {
      width: 90%;
    }
  }
}