$color-teal: teal;
$color-light: darken(white, 15%);
$color-darklight: darken($color-light, 15%);
$color-black: #000000;

$light-gradient: linear-gradient(to right, $color-black, $color-teal);
$dark-gradient: linear-gradient(to right, $color-teal, $color-black);
$hr-gradient-dark: linear-gradient(to right, rgba($color-teal, .75), rgba(0, 0, 0, 0));
$hr-gradient-light: linear-gradient(to right, rgba($color-darklight, .75), rgba(0, 0, 0, 0));

$box-shadow: .2rem .2rem .5rem rgba($color-black, .8);