.blog {
  @include flexCol;
  color: $color-light;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 5.5rem;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-black, .4),
                  rgba($color-black, .6)),
  url("../../images/blog.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  & > * {
    width: 60%;

    @include respond(tab-port) {
      width: 95%;
    }
  }

  &__info {
    color: $color-teal;
    list-style: none;

    & > * {
      padding: .5rem;
    }
  }

  &-edit__form {
    @include formBlock(1rem, 0);
  }
}