.dashboard {
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-black, .4),
                  rgba($color-teal, .7)),
  url("../../images/dashboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  @include flexCol;
  justify-content: center;
  color: inherit;

  &__link {
    display: block;
    margin-top: 3rem;
    @include button(transparent, 1px solid $color-light, .3rem);
    font-size: 2rem;
  }

  &__sidebar {
    position: fixed;
    @include flexCol;
    justify-content: center;
    left: 0;
    top: 7%;
    background-color: transparent;
    color: $color-light;
    width: 100%;
    z-index: 10000;
    height: 20vh;
    margin: 0;
    box-shadow: $box-shadow;
  }
}