.dictionary {
  &:last-child {
    padding-bottom: 5rem;
  }

  &__icon {
    position: absolute;
    bottom: 2%;
    left: calc(50% - 1.6rem);
    animation: .6s infinite ease-in-out alternate move;
  }

  &__block {
    @include flex(space-between);
    align-items: center;
    box-shadow: $box-shadow;
    background-color: $color-darklight;
    padding: 1rem;
    margin: 1rem 0;

    &--empty {
      @include flex(center);
      align-items: center;
      box-shadow: $box-shadow;
      background-color: $color-darklight;
      padding: 1rem;
      position: relative;
      min-height: 10rem;
    }

    & > * {
      flex-basis: 47%;

      @include respond(tab-port) {
        flex-basis: 100%;
      }
    }
  }

  &__learned {
    background: $color-teal;
    color: $color-light;
    margin: 1rem;
    font-weight: 600;
    box-shadow: $box-shadow;
    transition: all .5s ease-in-out;

    &:hover {
      background: $color-black;
    }
  }

  &__form {
    @include formBlock(1rem, .5rem 0);
  }
}


.word {
  @include flex(space-between);
  background: $color-teal;
  box-shadow: $box-shadow;
  padding: .5rem;
  margin: .5rem;

  &:hover {
    cursor: pointer;
  }

  &__info {
    flex-basis: 80%;
    display: flex;

    & > span {
      display: inline-block;
      flex-basis: 50%;
      margin-left: .5rem;
    }
  }
}