.grammar {
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 5.5rem;
  background-color: $color-darklight;
}

.gram-definition {
  @include card($color-darklight, $color-black, .5rem 0);
  text-align: justify;

  &__main {
    @include card($color-teal, $color-light, 0 0 .5rem 0);
    text-align: center;
  }
}