* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: content-box; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-color: #e6e6e6; }

button {
  cursor: pointer; }
  button:disabled {
    cursor: default; }

.is-active {
  font-weight: bold;
  text-decoration: none;
  color: darkcyan; }

.title {
  padding-top: 1rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: .5rem;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60vw; }
  .blog-container > * {
    width: 100%; }

.speech__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

form {
  background-image: linear-gradient(to right, teal, #000000);
  margin: .5rem;
  padding: 1rem;
  color: #e6e6e6;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  transition: all .5s ease-in-out; }
  form:hover {
    box-shadow: .2rem .2rem 1.2rem black; }

.t-card__btn {
  border: none;
  padding: .5rem .8rem;
  text-decoration: none;
  color: teal;
  background: #e6e6e6;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8); }

.blog-card__btn {
  border: none;
  background: transparent;
  color: #e6e6e6; }

.add-blog__btn {
  border: none;
  padding: .5rem .8rem;
  text-decoration: none;
  color: #e6e6e6;
  background: teal;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8); }

.t-card {
  background-image: linear-gradient(to right, teal, #000000);
  margin: .5rem;
  padding: 1rem;
  color: #e6e6e6;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  transition: all .5s ease-in-out; }
  .t-card:hover {
    box-shadow: .2rem .2rem 1.2rem black; }
  .t-card__body {
    padding: .5rem 0; }
  .t-card__block {
    display: flex;
    justify-content: flex-end; }

.blog-card {
  background-image: linear-gradient(to right, teal, #000000);
  margin: .5rem;
  padding: 1rem;
  color: #e6e6e6;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  transition: all .5s ease-in-out; }
  .blog-card:hover {
    box-shadow: .2rem .2rem 1.2rem black; }
  .blog-card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }

.s-card {
  margin: 0.5rem;
  background-image: linear-gradient(to right, teal, #000000);
  margin: .5rem;
  padding: 1rem;
  color: #e6e6e6;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  transition: all .5s ease-in-out;
  width: 70vw;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .s-card:hover {
    box-shadow: .2rem .2rem 1.2rem black; }
  .s-card__title {
    margin-bottom: 0; }
  .s-card__img {
    flex: 0 0 30%;
    height: 20rem;
    background-color: #fff; }
  .s-card__text {
    flex: 2;
    margin-left: 1rem; }
  .s-card__link {
    text-decoration: none;
    color: inherit; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  background-color: teal;
  color: #e6e6e6;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  margin-bottom: .5rem; }
  .header__link {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    padding-left: 1rem; }
    .header__link--logo {
      font-size: 2rem;
      font-weight: 700;
      color: inherit;
      text-decoration: none; }

.input {
  padding: .3rem .8rem;
  margin: .5rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  font-size: inherit;
  font-family: inherit; }
  .input:focus {
    outline: none; }

.textarea {
  resize: none;
  padding: .3rem .8rem;
  margin: .5rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  font-size: inherit;
  font-family: inherit; }
  .textarea:focus {
    outline: none; }

/*# sourceMappingURL=main.css.map */
