* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Exo', Helvetica, sans-serif;
  font-size: 1.6rem;
  background: $color-light;
}

button {
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
  }
}

.blog__hr {
  @include hr($hr-gradient-light);
}

.grammar__hr {
  @include hr($hr-gradient-dark);
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 .5rem;
  box-shadow: $box-shadow;
  background: transparent;

  @include respond(phone) {
    @include flexCol;
  }

  & > * {
    flex: 1;

    @include respond(phone) {
      width: calc(100% - 1.6rem);
    }
  }
}