@import url('https://fonts.googleapis.com/css?family=Exo:300|Gloria+Hallelujah');


.title {
  @include text(inherit);
  margin: 1rem 0;
}

.dashboard {
  color: $color-light;
  &__title {
    @include text($color-light);
    font-family: 'Gloria Hallelujah', Helvetica, cursive;
    font-size: 6rem;
    line-height: 1.3;
  }

  &__subtitle {
    @include text($color-light);
  }
}

.gram-card {
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    color: $color-black;
    text-decoration: underline;
  }

  &__description {
    font-size: 1.4rem;
    font-weight: 300;
  }
}